# IDE
.idea
*.iml

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.dynamodb

# Webpack directories
.webpack

build

.DS_Store

# Compiled Code
dist

test-repos/**/swagger

