# IDE
.idea
*.iml

# package directories
node_modules
jspm_packages

# CustomServerless directories
.serverless
.dynamodb
.serverless

# Webpack directories
.webpack

.serverless
build

.DS_Store

# Compiled Code
dist

test-repos/**/swagger

