# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.dynamodb
.serverless

# Webpack directories
.webpack

.serverless
build

.DS_Store

.serverless_plugins/serverless-auto-swagger/dist
.serverless_plugins/serverless-auto-swagger/node_modules
